{% extends "layout.html" %}
{% from "helper.html" import serve_file, print_flashes %}


{% macro gen_model_log_path(job_id) %}
    {% set job = scheduler.get_job(job_id) %}
    {% set task = job.train_task() %}
    {% if task.log_file %}
        <td>{{serve_file(task, task.log_file)}}</td>
    {% endif %}
{% endmacro %}

{% macro gen_dataset_log_path(job_id) %}
    {% set job = scheduler.get_job(job_id) %}
     <td>
    {% for index, task in enumerate(job.create_db_tasks()) %}
        {% if task.create_db_log_file %}
            {{ serve_file(task, task.create_db_log_file) }}
            {% if index == 0 %}
                |
            {% endif %}
        {% endif %}
    {% endfor %}
    </td>
{% endmacro %}

{% block head %}
    <style>
        #add-user-dialog {
            width: 400px;
            position: absolute;
            z-index: 999999;
            background: #ffffff;
            top: 50%;
            left: 50%;
            margin-left: -200px;
            margin-top: -200px;
            box-shadow: 7px 15px 30px #285a63;
            border: 1px solid transparent;
            border-radius: 4px;
        }
         #modify-user-dialog{
             width: 400px;
             position: absolute;
             z-index: 999999;
             background: #ffffff;
             top: 50%;
             left: 50%;
             margin-left: -200px;
             margin-top: -200px;
             box-shadow: 7px 15px 30px #285a63;
             border: 1px solid transparent;
             border-radius: 4px;
             display:none;
         }
        #select-user-dialog{
             width: 400px;
             position: absolute;
             z-index: 999999;
             background: #ffffff;
             top: 50%;
             left: 50%;
             margin-left: -200px;
             margin-top: -200px;
             box-shadow: 7px 15px 30px #285a63;
             border: 1px solid transparent;
             border-radius: 4px;
             display:none;
         }
        #delete_confirm{
            width: 400px;
            position: absolute;
            z-index: 999999;
            background: #ffffff;
            top: 50%;
            left: 50%;
            margin-left: -200px;
            margin-top: -150px;
            box-shadow: 7px 15px 30px #285a63;
            border: 1px solid transparent;
            border-radius: 4px;
            display:none;
        }

    </style>
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
    {% set permiss = ['高级管理员', '普通管理员', '普通用户', '只读用户'] %}
    <h2>系统管理</h2>
    <hr>
    {{ print_flashes() }}
    <div>
    <h3>用户与权限管理</h3>
        <div id = "delete_confirm" style="display: none;">
            <form action="{{ url_for('digits.unofficial.views.del_user') }}" method="post" class="panel panel-default modalBody" id= "form1" style="margin-bottom: 0">
                <div class="panel-heading text-center">
                    <span style="font-size:20px;">友情提示：</span>
                </div>
                <input type="text" class="form-control" id="delname" name="delname" style="display: none;">
                <div class="panel-body text-center">
                    删除后数据将无法恢复，您确定要删除<span style="font-size:15px;color: red" id = 'span1'></span>用户吗？
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-primary" id = "real_del" >确认</a>
                    <a class="btn btn-primary" id="close_del" >取消</a>
                </div>
            </form>
        </div>
        <div id="select-user-dialog" style="display: none;">
        <form action="{{ url_for('digits.unofficial.views.select_user') }}" method="post" class="panel panel-default modalBody" style="margin-bottom: 0">
            <div class="panel-heading text-center">
                <span style="font-size:24px;">查询用户</span>
                <a class="btn btn-danger btn-xs closeButton" style="float: right;" id="close-select-user">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                </div>
                <div class="" style="top: -10px; position: relative; padding: 10px 20px;">
                    <div class="row" style="margin:10px 30px 0 30px;">
                        <div class="form-group">
                            <label for="seluser_name" class="control-label">用户名</label>
                            <input type="text" class="form-control " id="seluser_name" name="seluser_name">
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="seluser_perm" class="control-label">权限</label>
                            <select class="form-control" name="seluser_perm" id="seluser_perm" autocomplete="off">
                                <option value="4">全部</option>
                                <option value="0">{{ permiss[0] }}</option>
                                <option value="1">{{ permiss[1] }}</option>
                                <option value="2">{{ permiss[2] }}</option>
                                <option value="3">{{ permiss[3] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="seluser_status" class="control-label">状态</label>
                            <select class="form-control" name="seluser_status" id="seluser_status" autocomplete="off">
                                <option value="N">全部</option>
                                <option value="T">禁用</option>
                                <option value="F">启用</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="display:block;margin:0 auto">查询</button>
                </div>
            </form>
        </div>
        <div id="add-user-dialog" style="display: none;">
            <form action="{{ url_for('digits.unofficial.views.add_user') }}" method="post" class="panel panel-default modalBody" style="margin-bottom: 0">
                <div class="panel-heading text-center">
                    <span style="font-size:24px;">添加用户</span>
                    <a class="btn btn-danger btn-xs closeButton" style="float: right;" id="close-add-user">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div class="" style="top: -10px; position: relative; padding: 10px 20px;">
                    <div class="row" style="margin:10px 30px 0 30px;">
                        <div class="form-group">
                            <label for="username" class="control-label">用户名</label><span class="required" style="color:red;font-size:14px;">*</span>
                            <input type="text" class="form-control" id="username" name="username" autofocus required>
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="permissions" class="control-label">权限</label>
                            <select class="form-control" name="permissions">
                                <option value="0">{{ permiss[0] }}</option>
                                <option value="1">{{ permiss[1] }}</option>
                                <option value="2">{{ permiss[2] }}</option>
                                <option value="3">{{ permiss[3] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="upassword" class="control-label">密码</label><span class="required" style="color:red;font-size:14px">*</span>
                            <input type="password" class="form-control" id="upassword" name="upassword" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="display:block;margin:0 auto">添加</button>
                </div>
            </form>
        </div>
        <div id="modify-user-dialog" style="display: none;">
        <form action="{{ url_for('digits.unofficial.views.modify_user') }}" method="post" class="panel panel-default modalBody" style="margin-bottom: 0">
            <div class="panel-heading text-center">
                <span style="font-size:24px;">修改用户</span>
                <a class="btn btn-danger btn-xs closeButton" style="float: right;" id="close-modify-user">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                </div>
                <div class="" style="top: -10px; position: relative; padding: 10px 20px;">
                    <div class="row" style="margin:10px 30px 0 30px;">
                        <div class="form-group">
                            <label for="modUser_id" class="control-label">ID</label>
                            <input type="text" class="form-control idclass" disabled>
                            <input type="text" class="form-control idclass" id="modUser_id" name="modUser_id" style="display:none">
                        </div>
                    </div>
                    <div class="row" style="margin:10px 30px 0 30px;">
                        <div class="form-group">
                            <label for="modUser_name" class="control-label">用户名</label>
                            <input type="text" class="form-control nameclass" disabled>
                            <input type="text" class="form-control nameclass" id="modUser_name" name="modUser_name"  style="display:none">
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="modUser_perm" class="control-label">权限</label>
                            <select class="form-control" name="modUser_perm" id="modUser_perm" autocomplete="off">
                                <option value="0">{{ permiss[0] }}</option>
                                <option value="1">{{ permiss[1] }}</option>
                                <option value="2">{{ permiss[2] }}</option>
                                <option value="3">{{ permiss[3] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin:0 30px">
                        <div class="form-group">
                            <label for="is_jinyong" class="control-label">是否禁用</label>
                            <label><input name="is_jinyong" type="radio" value="T" id="modUser_isJ">是</label>&nbsp;
                            <label><input name="is_jinyong" type="radio" value="F"  id="modUser_isN">否</label>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="display:block;margin:0 auto">保存</button>
                </div>
            </form>
        </div>
    <a class="btn btn-success btn-sm" id="create_user" style="float:right" >添加用户</a>
    <a class="btn btn-success btn-sm" id="select_user" style="float:left" >查询用户</a>

    <hr>
    <table class="table table-bordered table-striped list-group selectable"
               style="word-wrap: break-word"
               width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>权限</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>最后修改时间</th>
                <th>最后登录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {%if users%}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="#">{{ user.username }}</a> </td>
                    <td>
                        {% for per in user.permissions %}
                            {{ permiss[int(per)]}}
                            {% set perm = permiss[int(per)] %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.status == 'T' %}
                            禁用
                        {% elif user.status == 'F' %}
                            启用
                        {% endif %}
                    </td>
                    <td>
                        {{ user.create_time }}
                    </td>
                    <td>
                        {{ user.modify_time }}
                    </td>
                    <td>
                        {{ user.last_login }}
                    </td>
                    <td>
                        {% for perm in user.permissions %}
                            <a class="btn btn-primary btn-sm" id = '{{ user.id}}' onclick="f('{{ user.id}}', '{{user.username}}','{{ user.status }}','{{ perm }}')">
                                修改
                            </a>
                        {% endfor %}
                        <a class="btn btn-danger btn-sm btn-del" onclick="del('{{user.username}}')">
                                删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8" align="left">对不起,暂无信息显示!</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
    <hr>
    <div>
    <div style="margin-bottom: 20px">
        <span style="font-size: 24px;line-height: 24px;margin-right: 20px">日志管理</span>
        <a href="{{ url_for('digits.unofficial.views.system_log') }}" class="btn btn-sm btn-primary">下载系统日志</a>
    </div>
    <table class="table table-bordered table-striped list-group selectable"
               style="word-wrap: break-word"
               width="100%">
        <thead>
            <tr>
                <th>序号</th>
                <th>类别</th>
                <th>名称</th>
                <th>ID</th>
                <th>日志</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% set count = namespace(value=1) %}
        {% for dataset_job in job_data['datasets'] %}
            <tr>
                <th>{{ count.value }}</th>
                <td>{{ "数据集" }}</td>
                <td>{{ dataset_job['name'] }}</td>
                <td><a href="{{ url_for('digits.dataset.views.show', job_id=dataset_job['id']) }}">{{ dataset_job['id'] }}</a> </td>
                {{ gen_dataset_log_path(dataset_job['id']) }}
                <td>"aa"</td>
                <td>"bb"</td>
            </tr>
            {% set count.value = count.value + 1 %}
        {% endfor %}
        {% for model_job in job_data['models'] %}
            <tr>
                <th>{{ count.value }}</th>
                <td>{{ "模型" }}</td>
                <td>{{ model_job['name'] }}</td>
                <td><a href="{{ url_for('digits.model.views.show', job_id=model_job['id']) }}">{{ model_job['id'] }}</a> </td>
                {{ gen_model_log_path(model_job['id']) }}
                <td>"cc"</td>
                <td>"dd"</td>
            </tr>
            {% set count.value = count.value + 1 %}
        {% endfor %}
        </tbody>
    </table>
    </div>
 <script>
        function f(user_id,user_name,user_status,user_perm){
            $(".idclass").attr("value",user_id);
            $(".nameclass").attr("value",user_name);
            var perm = user_perm
            if(perm=="0"){
                $("#modUser_perm").find("option[value='0']").prop("selected",true);
            }else if(perm=="1"){
                $("#modUser_perm").find("option[value='1']").prop("selected",true);
            }else if(perm=="2"){
                $("#modUser_perm").find("option[value='2']").prop("selected",true);
            }else if(perm=="3"){
                $("#modUser_perm").find("option[value='3']").prop("selected",true);
            }
            console.log(user_status)
            if(user_status == "T") {
                $("#modUser_isJ").prop("checked",true);
            }
            else{
                $("#modUser_isN").prop("checked",true);
            }
            $('#modify-user-dialog')[0].style.display = 'block';
            };
        function del(user_name){
            $('#delname').attr('value',user_name);
            $('#span1').html(user_name);
            $('#delete_confirm')[0].style.display = 'block';
        }
        $(function(){
            $('#create_user').click(
            function () {
                $('#add-user-dialog')[0].style.display = 'block';
            }
            );
            $('#close-add-user').click(
                function () {
                    $('#add-user-dialog')[0].style.display = 'none';
                }
            );
            $('#close-modify-user').click(
                function () {
                    $('#modify-user-dialog')[0].style.display = 'none';
                }
            );
            $('#real_del').click(
                function () {
                    $('#form1').submit();
                }
            );
            $('#close_del').click(
                function () {
                    $('#delete_confirm')[0].style.display = 'none';
                }
            );
            $('#select_user').click(
                function(){
                    $('#select-user-dialog')[0].style.display = 'block';
                }
            );
            $('#close-select-user').click(
                function(){
                    $('#select-user-dialog')[0].style.display = 'none';
                }
            );
        });
    </script>
{% endblock %}


